* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
 
  
  
}

header {
 
  color: #fff;
  text-align: center;
  font-size: 30px;
  background-color: rgb(209, 49, 76);
  height: 170px;
  margin: 20px;
  border-radius: 20px;
}

.container {
  text-align: center;
}

.title {
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: lighter;
  font-family: monospace;
  
}

.sub-title {
  font-weight: lighter;
  font-family: monospace;
}

#buttonCite {
  width: 230px;
  height: 40px;
  bottom: 10px;
  background-color: #1c2122;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 70px;
  margin-bottom: -10px;;
  cursor: pointer;
  outline: none;
  text-align: center;
}

#cite { font-family:Helvetica, sans-serif; }

#cite, #author {
  /* color: #333; */
  text-align: center;
  font-weight: lighter;
  padding: 20px;
  background-color: #1c2122;
  border-radius: 30px;
  border: none;
  color: #fff;
  height: 160px;
  margin-top: 50px;
  margin: 20px;
}

#credit {
  font-weight: lighter;
  font-family: monospace;
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   padding: 7px 0;
   width:100%;
   color: rgb(255, 255, 255);
   background-color: #1c2122;

}



body {
  background-image: url("index.png");
}




